---
import BaseHead from '../components/BaseHead.astro'
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts'
import { Prism } from '@astrojs/prism'
import 'prismjs/themes/prism.css'
import SlideInNav from '../components/SlideInNav.astro'
import FormattedDate from '../components/FormattedDate.astro'
import { getCollection } from 'astro:content'

const posts = (await getCollection('blog')).sort(
	(a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);
---

<!doctype html>
<html lang='en'>
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <SlideInNav />
    <main class='container max-w-3xl mx-auto flex items-center px-2 py-8'>
      <section>
				<ul>
					{
						posts.map((post) => (
							<li class="pb-16">
								<a href={`/blog/${post.slug}/`}>
									{/* <img width={720} height={360} src={post.data.heroImage} alt="" /> */}
									<div class="text-gray-500 text-sm mb-1">
										<FormattedDate date={post.data.pubDate} />
									</div>
									<h4 class="font-bold text-xl mb-4">{post.data.title}</h4>
                  <div class="leading-5">
                    “AI” and “The Cloud” are both hot topics, but couldn’t be more different. AI is new, unproven, and surrounded by hyperbole, whereas “The Cloud” is older, established, and broadly accepted. But online, criticism is mounting against both, not so much for the technology itself but for its misuse. Instead of waiting for big tech to wake up, we can do something about this.
                  </div>
								</a>
							</li>
						))
					}
				</ul>
			</section>
    </main>
    <Footer />
  </body>
</html>
